#CampoPersonagem{
    width: 300px;
    height: 280px; 
    text-align: center;
    position: relative;
    left: 40px;
    top: 30px;
}
#CampoPersonagem img{
    width: 300px;
    height: 290px;
}

#input-nome{
    width: 300px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 23px;
    font-weight: 550;

    outline: none;
    background: none;
    border: none;
}

::placeholder {
  font-size: 20px;
}





/* -------------- Sem conhecimento necessário -----------------   */
/* #FtUsario{
    margin-top: 6px;
    height: 270px;
} */


/* #containerImg{
    width: 298px;
    height: 288px;
    background-color: rgba(0, 0, 0, 0.13);
    border: 2px solid black;
    cursor: pointer;
}
#containerImg:hover #uploadImg{
   display: flex;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#uploadImg{
    content: 'Coloque uma imagem';
    display: none;
}
 */