
#caixa{
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: green; */
} 

/*      Ficha  	 */

#ficha{
    width: 100%;
    min-width: 989px;
    height: 1665px;
    background-color: rgb(255, 255, 255, 0.88);
    border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button { 	 /* <-- Campos que fazem a remoção das setas de aumentar e diminuir */
    -webkit-appearance: none;
	}
input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
}
